
        .icerik {
            max-height: 100vh;
            overflow-y: auto;
          }
          
          @media (max-height: 600px) {
            html, body {
              font-size: 12px;
            }
          }
          
          @media (max-height: 400px) {
            html, body {
              font-size: 10px;
            }
          }
          
          .list-unstyled li a {
            text-decoration: none;
            color: black;
          }

          .gitHub{
            text-decoration: none;
            color: black;
          }

          .footer {
            position:absolute;
            bottom: 0;
            right: 0;
            left :0;
            text-align: center;
            padding : 1rem;
            background : #efefef;
            font-size : 19px
          }